body{
    margin: 0;
    padding: 0;
}
.row {
    display: flex;
}
.row2 {
    display: flex;

}
.row3 {
    display: flex;

}

.col {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #eeeee6;
    list-style: none;
}  
.col-2 {
    flex: 3;
    padding: 10px;
    margin: 10px;
    background-color: palegreen;
    

}
.container{
    padding: 10px 70px 10px 70px;
}
